<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 开启自动映射：从典型的数据库字段名 A_COLUMN 到典型的驼峰标识Java属性名 aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!-- 类型别名 -->
    <typeAliases>
        <typeAlias type="com.kongzhu.demo.springmvc.model.TableTest" alias="tableTest"/>
    </typeAliases>
    <!-- 类型处理器 -->
    <typeHandlers>
        <typeHandler handler="com.kongzhu.demo.springmvc.handler.TableTestSexHandler"/>
    </typeHandlers>
</configuration>
